
# Folders
vendor
.idea
.vscode
.vs
.fleet
.phpunit.cache
storage/*.key
node_modules
public/build
public/hot
public/storage/app/*
!public/storage/app/services/*

# Files

.env
.env.backup
.env.production
*lock*
.editorconfig
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
